<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

		<!-- Search -->
		<div ng-controller="pokemonSearch">
            <input name="id" ng-model="idPokemon" />
            <p>ID Pokemon: {{idPokemon}}</p>
            <p>Filtrer par nom: </p><input name="filter" ng-model="pokemonValue"  />
            <select name="pokemonSelect" id="pokemonSelect" ng-model="idPokemon">
                <option ng-repeat="pokemon in pokemons | filter:pokemonValue" value="{{pokemon.value}}" >{{pokemon.value}}</option>
            </select>
            <button id="go" ng-click="$log.log(idPokemon)">GO !</button>
        </div>

		<!-- Pokémon information -->
        <div ng-controller="pokemonSearchAPI" >  
            <p>#{{idPokedex}} {{name}} </p>
            <ul class="example-animate-container">
                    <li class="animate-repeat" ng-repeat="ability in abilities">
                      {{ability.ability.name}} 
                    </li>
                  </ul>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
