<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

		<!-- Search -->
		<div ng-controller="pokemonSearch">
            <input name="id" ng-model="pokemon.id" />
            <p>ID Pokemon: {{pokemon.id}}</p>
            <p>Filtrer par nom: </p><input name="filter" ng-model="pokemon.name"  />
            <select name="pokemonSelect" id="pokemonSelect" ng-model="pokemon.id">
                <option ng-repeat="pokemon in pokemons | filter:pokemon.name" value="{{pokemon.id}}" >{{pokemon.name}}</option>
            </select>
            <button id="go" ng-click="searchPok(pokemon)">GO !</button>
        </div>

		<!-- Pokémon information -->
        <div ng-hide="myValue" class="ng-hide" ng-controller="pokemonSearchAPI" >  
            <p>#{{poke.id}} {{poke.name}}  </p>
            <ul class="example-animate-container">
                    <li class="animate-repeat" ng-repeat="ability in abilities">
                      {{ability.ability.name}} 
                    </li>
                  </ul>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
